body {
    /* background: linear-gradient(in oklch longer hue 90deg, magenta, cyan); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    animation: bg-shift 5s infinite alternate;
}

    @keyframes bg-shift {
    from {
      background-color: oklch(62.793% 0.25768 29.223); /* Warm pinkish */
    }
    to {
      background-color: oklch(88.024% 0.20256 116.817); /* Cool bluish */
    }
}

h1{
    text-align: center;     
}
.grid {
    width: 450px;
    background-color: #fbeec1;
    color: black;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 100px 100px;
    margin: auto;

}

.cell {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 5em;
    
}

.cell:hover{
    background-color: oklch(45.259% 0.31286 264.337)    
}

.cell.X{
    background-color: oklch(86.851% 0.27806 144.422)    

}

.cell.O{
    background-color: oklch(68.978% 0.30982 333.013)    
}

#playerturn {
    margin: 10px 0;
    font-size: 5em;
    border: 2px solid black;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

#message {
    margin: 10px 0;
    font-size: 5em;
    /* border: 2px solid black; */
    padding: 8px 16px;
    border-radius: 8px;
    /* background-color: black; */
    color: black;
}

button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: black;
    color: white;
}

button:hover {
    background-color: #333;
}
